<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>VVFrameLayout</string>
	<key>2</key>
	<string>VVVHLayout</string>
	<key>3</key>
	<string>VVVH2Layout</string>
	<key>4</key>
	<string>VVGridLayout</string>
	<key>6</key>
	<string>VVRatioLayout</string>
	<key>7</key>
	<string>NVTextView</string>
	<key>8</key>
	<string>NVTextView</string>
	<key>9</key>
	<string>NVImageView</string>
	<key>10</key>
	<string>NVImageView</string>
	<key>11</key>
	<string>NVImageView</string>
	<key>12</key>
	<string>NVImageView</string>
	<key>13</key>
	<string>NVLineView</string>
	<key>14</key>
	<string>NVLineView</string>
	<key>16</key>
	<string>VVPageView</string>
	<key>17</key>
	<string>VVGridView</string>
</dict>
</plist>
